:host{
  display: block;
  background-color: #f8f9fa;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  margin-bottom: 20px;
  flex: 1;

  .form-item {
    margin-bottom: 10px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ced4da;
      border-radius: 4px;
    }
  }
}
