.form-field {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &.ng-invalid.ng-touched {
      border-color: red;
    }
  }

  .error {
    color: red;
    margin-top: 5px;
  }
}
