<!--<form #form="ngForm" >-->

<!--  <div>-->
<!--    <label for="name">Name:</label>-->
<!--    <input-->
<!--      type="text"-->
<!--      id="name"-->
<!--      name="name"-->
<!--      #name="ngModel"-->
<!--      [(ngModel)]="userForm.name"-->
<!--      [ngModelOptions]="{standalone: true}"-->
<!--      required-->
<!--      minlength="3"-->
<!--    >-->
<!--    <div *ngIf="name.invalid && (name.dirty || name.touched)">-->
<!--      <div *ngIf="name.errors?.['required']" style="color: red">User name is required</div>-->
<!--      <div *ngIf="name.errors?.['minlength']" style="color: red">User name must be min 3 symbols</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div>-->
<!--    <label for="lastname">Last name:</label>-->
<!--    <input type="text" id="lastname" name="lastname"-->
<!--           #lastname="ngModel"-->
<!--           [(ngModel)]="userForm.lastname"-->
<!--           required-->
<!--           minlength="3"-->
<!--    >-->
<!--    <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">-->
<!--      <div *ngIf="lastname.errors?.['required']" style="color: red">lastname is required</div>-->
<!--      <div *ngIf="lastname.errors?.['minlength']" style="color: red">lastname  must be min 3 symbols</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div>-->
<!--    <label for="email">email:</label>-->
<!--    <input-->
<!--      type="email"-->
<!--      id="email"-->
<!--      name="email"-->
<!--      #email="ngModel"-->
<!--      [(ngModel)]="userForm.email"-->
<!--      required-->
<!--      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"-->
<!--    >-->
<!--    <div *ngIf="email.invalid && (email.dirty || email.touched)">-->
<!--      <div *ngIf="email.errors?.['required']" style="color: red">User email is required</div>-->
<!--      <div *ngIf="email.errors?.['pattern']" style="color: red">User email is not valid</div>-->
<!--    </div>-->

<!--  </div>-->

<!--</form>-->


<!--<pre>-->
<!--  {{form.valid}}-->
<!--</pre>-->


<!--<app-reactive-form/>-->

<app-registration/>
